In [14]:
# Test the authentication

import requests

url = "https://api.themoviedb.org/3/authentication"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiZDM4MzA3OGFjYzM2MDZiMTBjMWQ1NWU0NGVlMzYyMCIsInN1YiI6IjY1ZDVlMmIzZWEzN2UwMDE4MzZlZWZmNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.b7xS3I1ECt7O5PZ_RVLjF8JkGjnd8IUeg7W2GwCySRI"
}

response = requests.get(url, headers=headers)

print(response.text)

{"success":true,"status_code":1,"status_message":"Success."}

In [26]:
# Initialise DuckDB

import duckdb

# some DuckDB setup
con = duckdb.connect(database='tmdb_data.duckdb')
# enable automatic query parallelization
con.execute("PRAGMA threads=2")
# enable caching of parquet metadata
con.execute("PRAGMA enable_object_cache")

In [16]:
# Load all the movie data from training, validation and test sets
# Save to the DuckDB

con.execute('''
    CREATE TABLE IF NOT EXISTS original_data AS
    SELECT tconst,primaryTitle,originalTitle,
        CASE
            WHEN startYear LIKE '%N%' THEN endYear
            ELSE startYear
        END AS Year,
        runtimeMinutes,numVotes
    FROM 'big-data-course-2024-projects/imdb/train-[1-8].csv'
    UNION
    SELECT tconst,primaryTitle,originalTitle,
        CASE
            WHEN startYear LIKE '%N%' THEN endYear
            ELSE startYear
        END AS Year,
        runtimeMinutes,numVotes
    FROM 'big-data-course-2024-projects/imdb/test_hidden.csv'
    UNION
    SELECT tconst,primaryTitle,originalTitle,
        CASE
            WHEN startYear LIKE '%N%' THEN endYear
            ELSE startYear
        END AS Year,
        runtimeMinutes,numVotes
    FROM 'big-data-course-2024-projects/imdb/validation_hidden.csv'
    ORDER BY Year, tconst
''')

In [17]:
# Get list of tconsts to feed into API

array_of_tconsts = con.execute('''
    SELECT tconst
    FROM original_data
''').df().values[:,0]

In [18]:
import time
import requests
import pandas as pd

for i,tconst in enumerate(array_of_tconsts):
    
    # Check if entry exists in database
    tconst_exists = con.execute(f'''
        SELECT EXISTS (SELECT 1 FROM IMDB_data WHERE tconst = '{tconst}')
    ''').fetchone()[0]
    
    # Skip if it exists already
    if tconst_exists:
        continue
    
    # API request
    url = f"https://api.themoviedb.org/3/find/{tconst}?external_source=imdb_id"
    response = requests.get(url, headers=headers)
    movie_info = pd.json_normalize(response.json()['movie_results'])
    movie_info['tconst'] = tconst

    # Save to database
    if len(movie_info) > 0:
        con.execute("INSERT INTO IMDB_data SELECT * FROM movie_info;")
        print(i, movie_info[['tconst', 'title']].values)
    else:
        con.execute(f"INSERT INTO IMDB_data (tconst) VALUES ('{tconst}');")
        print(i, movie_info[['tconst']].values, 'NULL')
        
    # con.execute("CREATE TABLE IF NOT EXISTS movies AS SELECT * FROM movie_info;")  
    
    # Add delay to not exceed rate limit (probably not necessary but just in case)
    if i%50 == 0:
        time.sleep(1)

In [19]:
con.execute(f'''
    SELECT *
    FROM IMDB_data
''').df()

,adult,backdrop_path,id,title,original_language,original_title,overview,poster_path,media_type,genre_ids,popularity,release_date,video,vote_average,vote_count,tconst
0,False,/kv7Cnk2FZzFzdbTMVPjMrOhSJdH.jpg,5153.0,Cabiria,it,Cabiria,Young Cabiria is kidnapped by pirates and sold...,/oZhgcHHapkzYmB0OhQcRfZ7LdLM.jpg,movie,"[18, 36]",7.673,1914-06-01,False,7.200,123.0,tt0003740
1,False,/h7h6UyaEOOT28JDUcvNMrp6xUma.jpg,108017.0,A Man There Was,sv,Terje Vigen,"Terje Vigen, a sailor, suffers the loss of his...",/ejxTovLF2vbcII1kz5vClkFt8np.jpg,movie,[18],7.016,1917-01-29,False,7.066,68.0,tt0008663
2,False,/1fWxbmuntO5pCHvLhiUTHxiEN11.jpg,54242.0,Mickey,en,Mickey,"Mickey, an orphan who has been brought up in a...",/imTS4ldQU9YnTbpPEhybrDVwHqr.jpg,movie,"[35, 18]",2.387,1918-08-01,False,6.529,17.0,tt0009369
3,False,/djSHA8FwFvuEvLHRvukSB8XmPPU.jpg,70804.0,J'accuse,fr,J'accuse,"The story of two men, one married, the other t...",/A2atW1Y4Li8TOxCzPRVdQuK2TuY.jpg,movie,"[10752, 18]",5.199,1919-04-25,False,7.600,49.0,tt0010307
4,False,/pXRMcqWslm3exEVkBTHNQYNXjz6.jpg,48256.0,The Doll,de,Die Puppe,The misadventures of an effete young man who m...,/7SAZwSJg4eocvQUguRUzHNfbQ9k.jpg,movie,"[35, 10749, 14]",7.067,1919-12-05,False,7.372,78.0,tt0010600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,/eGNiW4EYYq24vmH7XuG6j0knY4l.jpg,797972.0,Fauji calling,en,Fauji calling,Fauji Calling an upcoming Hindi-language film ...,/aDnrIdi6XcYZ1LQW1qwKGeRNcye.jpg,movie,[],0.600,2021-02-25,False,0.000,0.0,tt9766294
9996,False,/gAv25JelDgr0w2P1q6gcmJ6MSzh.jpg,620637.0,Tughlaq Durbar,ta,துக்ளக் தர்பார்,A budding politician has devious plans to rise...,/Ajxa9eE4vojurvYqSmRQVLSh6bt.jpg,movie,"[18, 35]",2.734,2021-09-10,False,6.100,9.0,tt9769668
9997,False,/fatz1aegtBGh7KS0gipcsw9MqUn.jpg,583406.0,Judas and the Black Messiah,en,Judas and the Black Messiah,Bill O'Neal infiltrates the Black Panthers on ...,/iIgr75GoqFxe1X5Wz9siOODGe9u.jpg,movie,"[18, 36]",34.379,2021-02-12,False,7.346,1421.0,tt9784798
9998,False,/pOkNsm4vPTkPTNxFcieO1NBGeYw.jpg,788962.0,Vellam,ml,വെള്ളം,"An alcoholic is left stranded by society, frie...",/1ABIYdZTV63mreNuA8VjwCgrWNp.jpg,movie,[18],1.793,2021-01-22,True,7.500,7.0,tt9808510
9999,False,/kA0gFQDo4vFrg2ZEsPWVv9J0Xng.jpg,673319.0,Happily,en,Happily,Tom and Janet have been happily married for ye...,/uCV98jOIxwd0SMICfHFNcuo5CHS.jpg,movie,"[35, 10749, 878, 53]",10.629,2021-03-19,False,5.700,105.0,tt9849004

In [20]:
# Get list of ids to feed into API

array_of_ids = con.execute('''
    SELECT id
    FROM IMDB_data
''').df().dropna().values[:,0]

In [21]:
columns = ['adult',
 'backdrop_path',
 #'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count',
 ]

for i,id in enumerate(array_of_ids):
    
    # Check if entry exists in database
    id_exists = con.execute(f'''
        SELECT EXISTS (SELECT 1 FROM TMDB_data WHERE id = '{int(id)}')
    ''').fetchone()[0]
    
    # Skip if it exists already
    if id_exists:
        continue
    
    # API request
    url = f"https://api.themoviedb.org/3/movie/{int(id)}?language=en-US"
    response = requests.get(url, headers=headers)
    movie_info = pd.json_normalize(response.json())[columns]

    # con.execute("CREATE TABLE IF NOT EXISTS TMDB_data AS SELECT * FROM movie_info;") 

    # Save to database
    if len(movie_info) > 0:
        con.execute("INSERT INTO TMDB_data SELECT * FROM movie_info;")
        print(i, movie_info[['id', 'title']].values)
    else:
        con.execute(f"INSERT INTO TMDB_data (tconst) VALUES ('{tconst}');")
        print(i, movie_info[['id']].values, 'NULL')
    
    # Add delay to not exceed rate limit (probably not necessary but just in case)
    if i%50 == 0:
        time.sleep(1)

In [22]:
#con.execute("DROP TABLE IF EXISTS TMDB_data;")  # Register the DataFrame as a view in DuckDB

#col_names = '(' + ','.join(list(movie_info.columns)) + ')'

#con.execute(f"INSERT INTO TMDB_data {col_names} SELECT * FROM df_view;")  # Specify all column names in your DataFrame
#con.execute("CREATE TABLE IF NOT EXISTS TMDB_data AS SELECT * FROM data;") 
#data = pd.concat(bla)
#data

In [27]:
con.execute(f'''
    SELECT *
    FROM TMDB_data
''').df()

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/h7h6UyaEOOT28JDUcvNMrp6xUma.jpg,0,"[{'id': 18, 'name': 'Drama'}]",,108017,tt0008663,sv,Terje Vigen,"Terje Vigen, a sailor, suffers the loss of his...",...,1917-01-29,0,56,"[{'english_name': 'No Language', 'iso_639_1': ...",Released,,A Man There Was,False,7.066,68
1,False,/1fWxbmuntO5pCHvLhiUTHxiEN11.jpg,250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",,54242,tt0009369,en,Mickey,"Mickey, an orphan who has been brought up in a...",...,1918-08-01,8000000,71,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"She's all girl, but not used to Society Manner...",Mickey,False,6.529,17
2,False,/djSHA8FwFvuEvLHRvukSB8XmPPU.jpg,0,"[{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...",,70804,tt0010307,fr,J'accuse,"The story of two men, one married, the other t...",...,1919-04-25,0,165,"[{'english_name': 'No Language', 'iso_639_1': ...",Released,,J'accuse,False,7.600,49
3,False,/pXRMcqWslm3exEVkBTHNQYNXjz6.jpg,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",,48256,tt0010600,de,Die Puppe,The misadventures of an effete young man who m...,...,1919-12-05,0,66,"[{'english_name': 'No Language', 'iso_639_1': ...",Released,,The Doll,False,7.372,78
4,False,/oNEY4mX0C9bO1KaVWYf9kTsq9oS.jpg,0,"[{'id': 37, 'name': 'Western'}, {'id': 12, 'na...",,42657,tt0011439,en,The Mark of Zorro,Don Diego Vega pretends to be an indolent fop ...,...,1920-12-05,0,107,"[{'english_name': 'No Language', 'iso_639_1': ...",Released,Here's the picture in which the world's greate...,The Mark of Zorro,False,7.169,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9965,False,/eGNiW4EYYq24vmH7XuG6j0knY4l.jpg,0,[],,797972,tt9766294,en,Fauji calling,Fauji Calling an upcoming Hindi-language film ...,...,2021-02-25,0,0,[],Released,,Fauji calling,False,0.000,0
9966,False,/gAv25JelDgr0w2P1q6gcmJ6MSzh.jpg,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",,620637,tt9769668,ta,துக்ளக் தர்பார்,A budding politician has devious plans to rise...,...,2021-09-10,0,146,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,,Tughlaq Durbar,False,6.100,9
9967,False,/fatz1aegtBGh7KS0gipcsw9MqUn.jpg,26000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",https://www.judasandtheblackmessiah.com,583406,tt9784798,en,Judas and the Black Messiah,Bill O'Neal infiltrates the Black Panthers on ...,...,2021-02-12,6416063,126,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,You can kill a revolutionary but you can't kil...,Judas and the Black Messiah,False,7.346,1421
9968,False,/pOkNsm4vPTkPTNxFcieO1NBGeYw.jpg,0,"[{'id': 18, 'name': 'Drama'}]",,788962,tt9808510,ml,വെള്ളം,"An alcoholic is left stranded by society, frie...",...,2021-01-22,0,142,"[{'english_name': 'Malayalam', 'iso_639_1': 'm...",Released,The Essential Drink,Vellam,True,7.500,7
9969,False,/kA0gFQDo4vFrg2ZEsPWVv9J0Xng.jpg,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",https://www.commonwall.com/films/happily,673319,tt9849004,en,Happily,Tom and Janet have been happily married for ye...,...,2021-03-19,0,96,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A killer romantic comedy.,Happily,False,5.700,105

In [24]:
con.close()